<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoviesIMDb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8CC208D2816D7C200E37423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8CC20A62816D7C500E37423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8CC20B02816D7C500E37423</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
